<nav class="navbar navbar-default navbar-fixed-bottom" id="bottomNavbar">
    <div class="container-fluid" ng-show="ctrl.playType==='syn'">
        <div class="row">
            <button class="col-xs-1 btn btn-default">
                <span class="glyphicon glyphicon-play" />
            </button>
            <button class="col-xs-1 btn btn-default">
                <span class="glyphicon glyphicon-step-forward" />
            </button>
            <div class="col-xs-10" ng-bind="ctrl.selWCard.cardInfo.FileName"></div>
        </div>
    </div>

    <div class="container-fluid" ng-show="ctrl.playType==='rec'">
        <div class="row">
            <button class="col-xs-1 btn btn-default">
                <img src="https://openclipart.org/image/2400px/svg_to_png/34345/signore-architetto-fran-01r.png" alt="microphone" style="height:32px"/>
            </button>
            <div class="col-xs-10" ng-bind="ctrl.selWCard.cardInfo.FileName"></div>
            <button class="col-xs-1 btn btn-default">
                <span class="glyphicon glyphicon-export" />
            </button>
        </div>
    </div>

</nav>

<nav class="navbar navbar-default navbar-fixed-top" id="topNavbar">
    <div class="container-fluid">
        <div class="row">
            <div class="dropdown">
                <button class="col-xs-1 btn btn-default dropdown-toggle" type="button" id="dropdownMenuPlayPageSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-menu-hamburger" />
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuPlayPageSettings">
                    <!--1. For cards' size, shown-->
                    <li class="container">
                        <div class="row">
                            <button class="WCard col-sm-6" style="margin:20px;" ng-style="ctrl.defaultCardStyle" ng-click="ctrl.ShowNewWCards_Click()" ng-disabled="ctrl.numRestWCards.length==0">
                                <h3>
                                    Rest: <br />
                                    <span class="badge">{{ctrl.numRestWCards}}</span>
                                </h3>
                            </button>
                            <div class="col-sm-6">
                                Show <input type="number" style="width:24px" ng-model="ctrl.numWCardShown" /> cards each time.
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="cbPickRandomly" value="" ng-model="ctrl.isPickWCardsRandomly" />
                                        Takes new cards randomly.
                                    </label>
                                </div>
                                <div>
                                    Resize:
                                    <button class="glyphicon glyphicon-minus" ng-click="ctrl.Smaller_Click()"></button>
                                    <button class="glyphicon glyphicon-plus" ng-click="ctrl.Larger_Click()"></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <!--2. For Play Type-->
                    <li class="container">
                        <div class="row">
                            <div class="dropdown-header col-xs-4">Type</div>
                            <div class="radio col-xs-4">
                                <label>
                                    <input type="radio" name="gameType" value="syn" ng-model="ctrl.playType" /> <!--Definded in PlayTypeEnum-->
                                    Click <span class="glyphicon glyphicon-play"></span>
                                </label>
                            </div><span></span>
                            <div class="radio col-xs-4">
                                <label>
                                    <input type="radio" name="gameType" value="rec" ng-model="ctrl.playType" />
                                    Typeing
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Keyboard-icon_Wikipedians.svg/800px-Keyboard-icon_Wikipedians.svg.png" style="height:20px" alt="key in answer" />
                                </label>
                            </div>
                        </div>
                    </li>

                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Actions</li>
                    <li class="container">
                        <div class="row">
                            <div class="checkbox col-sm-3">
                                <label>
                                    <input type="checkbox" name="cbMoveable" value="" /> Moveable.
                                </label>
                            </div>
                            <div class="col-sm-3"><button>Rearrange</button></div>
                            <div class="col-sm-3"><button>Random Rearrange</button></div>
                            <div class="col-sm-3"><button>Accumulate</button></div>
                        </div>
                    </li>

                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Actions</li>
                    <li><a class="btn">HyperLink</a></li>
                </ul>
            </div>
            <h4 class="col-xs-10 text-center">{{ctrl.CFolder}}</h4>
            <button class="col-xs-1 btn btn-default">right</button>
        </div>
    </div>
</nav>


<div class="cvMain"></div>
