input:invalid {
    border:1px solid red;
}

.imgStar{
    position:absolute;
}

.no-close .ui-dialog-titlebar-close{
    display:none;
}

body {
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
}

#gdTutorial{
    position:absolute;
    width:100vw;
    height:100vh;
    opacity:1;
    background:linear-gradient(rgba(255,0,0,1), rgba(255,255,0,0.3));
    z-index:100;
    /*transition: width 0.6s, height 0.6s, left 0.6s, top 0.6s;*/
}

    #gdTutorial #gdBoard {
        text-align:center;
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
        opacity: 1;
        border: 5vh solid transparent;
        -moz-border-image: url(http://images.clipartpanda.com/fall-festival-border-clip-art-10330913-autumn-leaves-border.jpg) 30 round;
        -o-border-image: url(http://images.clipartpanda.com/fall-festival-border-clip-art-10330913-autumn-leaves-border.jpg) 30 round;
        -webkit-border-image: url(http://images.clipartpanda.com/fall-festival-border-clip-art-10330913-autumn-leaves-border.jpg) 30 round;
        border-image: url(http://images.clipartpanda.com/fall-festival-border-clip-art-10330913-autumn-leaves-border.jpg) 30 round;

        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .bottom-right{
        float:right;
        bottom:4vw;
        margin: 0 10px 0 10px;
        position:relative;
        font-size:3vw;
    }

/*#region keyframes blink*/
@keyframes blinking {
    from {
        color: red;
        opacity:1;
    }

    to {
        color: yellow;
        opacity:0.4;
    }
}

@-moz-keyframes blinking {
    from {
        color: red;
        opacity:1;
    }

    to {
        color: yellow;
        opacity:0.4;
    }
}

@-webkit-keyframes blinking {
    from {
        color: red;
        opacity:1;
    }

    to {
        color: yellow;
        opacity:0.4;
    }
}

@keyframes blinking-background {
    from {
        background-color: red;
        opacity:1;
    }

    to {
        background-color: yellow;
        opacity:0.4;
    }
}

@-moz-keyframes blinking-background {
    from {
        background-color: red;
        opacity:1;
    }

    to {
        background-color: yellow;
        opacity:0.4;
    }
}

@-webkit-keyframes blinking-background {
    from {
        background-color: red;
        opacity:1;
    }

    to {
        background-color: yellow;
        opacity:0.4;
    }
}

/*#endregion keyframes blink*/

.blink {
    -moz-animation: blinking 0.6s alternate infinite;
    -o-animation: blinking 0.6s alternate infinite;
    -webkit-animation: blinking 0.6s alternate infinite;
    animation: blinking 0.6s alternate infinite;
}

.blink-background {
    -moz-animation: blinking-background 0.6s alternate infinite;
    -o-animation: blinking-background 0.6s alternate infinite;
    -webkit-animation: blinking-background 0.6s alternate infinite;
    animation: blinking-background 0.6s alternate infinite;
}

.clipToRight {
    width:50vw;
    left:50vw;
}

.clipToBottom {
    height:50vh;
    top:50vh;
}
