input:invalid {
    border:1px solid red;
}

.no-close .ui-dialog-titlebar-close{
    display:none;
}

body {
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
}