<nav class="nav navbar-fixed-top">
    <div class="dropdown">
        <button class="navbar-btn navbar-right dropdown-toggle" data-toggle="dropdown" role="button" type="button" aria-expanded="true" aria-haspopup="true" id="ddMenuBtn" style="position:fixed;right:2px;">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ddMenuBtn" style="background:white;">
            <h3 ng-bind="ctrl.thisPageTexts.stSelLang"></h3>
            <select ng-model="ctrl.SelPageTextLang" ng-click="$event.stopPropagation();"
                    ng-options="c.name for c in ctrl.LangsInString"></select>
        </div>
    </div>
</nav>
<!--DIV for Container-->
<div id="divContainer" class="WholeContainer">
    <div style="height:100%;overflow-y:scroll;">
        <div ng-repeat="container in ctrl.containers" class="MyContainer Main" data-value="{{$index}}" ng-click="ctrl.onContainerClick($event,$index)"
             ng-class="{NotYet: ctrl.restTimesForContainer[$index]>0, DayOut:(ctrl.restTimesForContainer[$index]<0)}">
            <div class="showContainerPos"><span class="badge" ng-bind="ctrl.restTimesForContainer[$index]"></span>{{container.showedName}}</div>
            <img src="./Images/Ok.png" alt="Selected" class="MyContainer ImgOK" />
        </div>
    </div>
    <h2 style="position:absolute;top:0;background-image:linear-gradient(red,yellow)" ng-bind="(ctrl.selContainer.showedName)?ctrl.selContainer.showedName:ctrl.thisPageTexts.stSelContainer"></h2>
    <button id="btUpward" ng-click="ctrl.onHowToShowWholeCC_Click($event,1)"></button>
</div>
<!--DIV for Category-->
<div id="divCategory" class="WholeContainer">
    <div style="height:100%;overflow-y:scroll">
        <h3 ng-hide="!ctrl.selContainerID||ctrl.isShownCategories">Loading...</h3>
        <div ng-repeat="category in ctrl.categories" class="MyCategory Main" data-value="{{$index}}" ng-click="ctrl.onCategoryClick($event,$index)"
             ng-class="{NotYet:(ctrl.restTimesForCategory[$index]>0), DayOut:(ctrl.restTimesForCategory[$index]<0)}">
            <div class="showCategoryPos"><span class="badge" ng-bind="ctrl.restTimesForCategory[$index]"></span>{{category.Folder}}</div>
            <img src="./Images/Ok.png" alt="Selected" class="MyCategory ImgOK" />
        </div>
    </div>
    <h2 style="position:absolute;top:0;background-image:linear-gradient(yellow,red)" ng-bind="(ctrl.selCategory.Folder)?ctrl.selCategory.Folder:ctrl.thisPageTexts.stSelCategory"></h2>
    <button id="btDownward" ng-click="ctrl.onHowToShowWholeCC_Click($event,-1)"></button>
</div>

<a id="btToPlay" class="btn btn-default"
   ng-href="#/Play?Container={{ctrl.containers[ctrl.selContainerID].itsLocation}}&CFolder={{ctrl.selCategory.Folder}}"
   ng-show="ctrl.selCategory">
    <img src="./Images/CategoryAnimate.gif" alt="Play a Category" style="width:25vmin;height:18vmin;" />
</a>